@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kanit:wght@200;300;400;500&display=swap');

:root {

}

@layer base {
  * {
    @apply font-['Kanit'];
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-['Bangers'];
  }

  button {
    @apply text-white bg-gradient-to-br from-blue-400 to-red-500 py-3 px-4 rounded hover:-translate-y-2 transition-all duration-200
  }

  .nav-btn {
    @apply text-white bg-gradient-to-br from-blue-400 to-red-500 py-2 px-3 rounded duration-200
  }

  .heading-gradient {
    @apply bg-gradient-to-tr from-blue-400 to-green-400 text-transparent bg-clip-text font-semibold;
  }
}

body {
  background: #0e0e0e;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
